<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128274417073-hu0nnofkoluihfhm4cqvfsp3bnj48t2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128274417073-hu0nnofkoluihfhm4cqvfsp3bnj48t2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBI37sx3QKOCngz4kEStCCLqWXA1W0oRWE</string>
	<key>GCM_SENDER_ID</key>
	<string>128274417073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onurcankurt.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-f99ce</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-f99ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128274417073:ios:de1e247ebbae180f7d2990</string>
</dict>
</plist>